.article {
  display: flex;
  flex-direction: column;
  padding-right: $padding;
  padding-bottom: 20px;
  padding-left: $padding;
  overflow-x: hidden;
  border-bottom: 1px solid $border-color;
  background-color: white;

  @media (min-width: $desktop) {
    padding-right: $padding-ds;
    padding-bottom: 30px;
    padding-left: $padding-ds;
    border-bottom: none;
  }

  h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: $text-color;
  }

  h2 {
    color: $text-color;
  }

  h3 {
    color: $text-color;
  }

  ul {
    @media (min-width: $desktop) {
      max-width: 80%;
    }

    li {
      @extend .list__item;
      color: inherit;
      font-size: inherit;
    }
  }

  img {
    width: 100vw;
    height: calc(100vw / 2);
    max-height: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    object-fit: cover;
    transform: translateX(-$padding);

    @media (min-width: $desktop) {
      width: calc(100% + #{$padding-ds} * 2);
      max-height: 400px;
      margin: 0;
      transform: translateX(-$padding-ds);
    }
  }

  p {
    line-height: 1.5;

    @media (min-width: $desktop) {
      max-width: 80%;
    }
  }
}
