.aside-offers {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border: 1px solid $border-color;
  border-radius: 4px;

  @media (min-width: $desktop) {
    justify-content: flex-start;
    padding: 10px;
    border-radius: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }

  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    height: auto;
    max-height: 35px;
    overflow: hidden;

    @media (min-width: $desktop) {
      max-width: 60px;
      max-height: 25px;
      margin-right: 10px;
    }

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }

  &__title {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    max-width: 50%;
    margin: 0;
    font-size: 12px;
    font-weight: 600;

    @media (min-width: $desktop) {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
