.aside-menu {
  width: 100%;
  padding: 15px 20px 20px;
  padding-top: 0;
  background-color: white;
  color: $text-color;

  @media (min-width: $desktop) {
    position: sticky;
    top: 20px;
    width: 300px;
    padding: 25px 30px 30px;
  }

  &__heading {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;

    @media (min-width: $desktop) {
      font-size: 18px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    a {
      color: $text-color;
      font-size: 14px;
      transition-duration: 0.3s;

      &:hover {
        color: $main-color;
        transition-duration: 0.3s;
      }
    }
  }
}
