.best {
  padding: 30px $padding;
  overflow: hidden;
  background-color: rgb(235, 240, 243);

  @media (min-width: $desktop) {
    padding: 30px $padding-ds;
    overflow: unset;
  }
}

.best__container {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;
    padding-right: $padding-ds;
    padding-left: $padding-ds;
  }
}

.best__heading {
  @media (min-width: $desktop) {
    order: -1;
    width: fit-content;
    margin-right: auto;
    font-size: 30px;
  }
}

.best__list {
  display: flex;
  position: relative;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -$padding;
  overflow-x: scroll;
  overflow-y: hidden;

  &::after {
    display: block;
    padding-left: 1px;
    background-color: transparent;
    content: '';

    @media (min-width: $desktop) {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
    padding-top: 20px;
    overflow: unset;
  }
}

.best__item {
  margin: 0 20px;

  @media (min-width: $desktop) {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.best__more {
  @media (min-width: $desktop) {
    order: -1;
  }
}
