.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  min-height: 38px;
  padding: 0 17px;
  border: 1px solid $border-color;
  border-radius: 3px;
  background-color: white;
  color: $text-color;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    box-shadow: 0 14px 8px -11px rgba(0,0,0,.15);
  }

  &:active {
    top: 1px;
    box-shadow: 0 12px 8px -11px rgba(0,0,0,.15);
  }
}
