.footer {
  padding: 20px 30px 0;
  color: rgb(140, 140, 140);
  font-size: 12px;

  @media (min-width: $desktop) {
    padding: 0;
  }

  &__social-container {
    width: 100vw;
    margin-left: -30px;
    padding: 0 $padding;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    @media (min-width: $desktop) {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    @media (min-width: $desktop) {
      justify-content: center;
      max-width: $max-width;
      margin: 0 auto;
      padding-right: $padding-ds;
      padding-left: $padding-ds;
    }
  }

  &__logo {
    display: flex;
    flex-shrink: 0;

    @media (min-width: $desktop) {
      margin-right: auto;
    }
  }

  &__menu {
    margin: 30px 0;

    @media (min-width: $desktop) {
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 $padding-ds;
    }
  }

  &__menu-container {
    @media (min-width: $desktop) {
      max-width: $max-width;
      margin: 30px auto;
    }
  }

  &__bottom {
    @media (min-width: $desktop) {
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 $padding-ds;
    }
  }

  &__bottom-container {
    @media (min-width: $desktop) {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  &_colored {
    @media (min-width: $desktop) {
      background-color: $bg-color;
    }
  }
}
