.footer {
  padding: 20px 30px 0;
  color: rgb(140, 140, 140);
  font-size: 12px;

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.footer--colored {
  @media (min-width: $desktop) {
    background-color: $bg-color;
  }
}

.footer__social-container {
  width: 100vw;
  margin-left: -30px;
  padding: 0 $padding;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @media (min-width: $desktop) {
    width: 100%;
    margin: 0;
    padding: 0 $padding-ds;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

  @media (min-width: $desktop) {
    justify-content: center;
    max-width: $max-width;
    margin:  0 auto;
  }
}

.footer__logo {
  display: flex;
  flex-shrink: 0;

  @media (min-width: $desktop) {
    margin-right: auto;
  }
}

.footer__menu {
  margin: 30px 0;

  @media (min-width: $desktop) {
    padding: 0 $padding-ds;
  }
}

.footer__menu-container {
  @media (min-width: $desktop) {
    max-width: $max-width;
    margin: 30px auto;
  }
}

.footer-menu__list {
  @media (min-width: $desktop) {
    width: fit-content;
  }
}

.footer__bottom {
  @media (min-width: $desktop) {
    padding: 0 $padding-ds;
  }
}

.footer__bottom-container {
  @media (min-width: $desktop) {
    max-width: $max-width;
    margin: 0 auto;
  }
}
