.footer-menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $desktop) {
      width: fit-content;
    }
  }

  &__item {
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      color: $text-accent-color;
    }
  }
}
