.main-navigation {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  min-width: fit-content;
  max-width: calc(100vw - 50px);
  height: 100vh;
  padding: $padding;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  transition: margin-left 0.5s;

  @media (min-width: $desktop) {
    display: flex;
    z-index: 0;
    position: relative;
    width: auto;
    min-width: unset;
    max-width: unset;
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: -20px;

    @media (min-width: $desktop) {
      display: none;
    }
  }

  &__list {
    @media (min-width: $desktop) {
      display: flex;
    }
  }

  &__item {
    padding-top: 11px;
    padding-bottom: 14px;
    border-bottom: 1px solid #cfcece;
    line-height: 35px;

    @media (min-width: $desktop) {
      border: none;
    }

    &:not(:last-child) {
      @media (min-width: $desktop) {
        margin-right: 25px;
      }
    }

    a {
      display: flex;
      width: 100%;

      @media (min-width: $desktop) {
        width: auto;
        font-size: 16px;
        font-weight: 400;
        transition-duration: 0.3s;
      }

      &:hover {
        @media (min-width: $desktop) {
          color: $main-color;
          transition-duration: 0.3s;
        }
      }
    }
  }

  &__close {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $border-color;
    border-radius: 50%;
    background: none;

    &::before {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 70%;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
    }

    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 70%;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
    }

    .no-js & {
      display: none;
    }
  }

  &_closed {
    @media (min-width: $small-screen) and (max-width: $desktop - 1) {
      margin-left: -100%;
      transition: margin-left 0.5s;
    }
  }
}
