.main-navigation {
  width: 100vw;
  margin-top: -100%;
  padding: $padding;
  background-color: white;

  &--opened {
    margin-top: 0;
    transition: margin-top 0.5s;
  }

  &--closed {
    margin-top: -100%;
    transition: margin-top 0.5s;
  }

  .no-js & {
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    margin-top: 0;
    padding: 0;
  }
}

.main-navigation__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -20px;

  @media (min-width: $desktop) {
    display: none;
  }
}

.main-navigation__list {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.main-navigation__item {
  padding-top: 11px;
  padding-bottom: 14px;
  border-bottom: 1px solid #cfcece;
  line-height: 35px;

  @media (min-width: $desktop) {
    border: none;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.main-navigation__item a {
  display: flex;
  width: 100%;

  @media (min-width: $desktop) {
    width: auto;
    font-size: 14px;
    font-weight: 400;
    transition-duration: 0.3s;

    &:hover {
      color: $main-color;
      transition-duration: 0.3s;
    }
  }
}

.main-navigation__close {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;
  border-radius: 50%;
  background: none;

  .no-js & {
    display: none;
  }

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 70%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
  }
}
