.main-navigation-container {
  --anim-time: 0.5s;

  background-color: transparent;
  transition: background-color var(--anim-time);

  &_opened {
    @media (min-width: $bp-mobile) and (max-width: $desktop) {
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.4);
      transition: background-color var(--anim-time);
    }
  }
}
