.news-filter {
  position: relative;
  margin-bottom: 20px;
  overflow-x: scroll;
  border-bottom: 1px solid $border-color;

  @media (min-width: $desktop) {
    overflow: unset;
  }

  &__list {
    display: flex;
    width: auto;
  }

  &__item {
    flex-shrink: 0;
    margin: 0 10px 2px;

    @media (min-width: $desktop) {
      margin: 0 10px;
    }
  }

  &__link {
    word-wrap: none;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid transparent;

    @media (min-width: $desktop) {
      font-size: 16px;
    }

    &:hover {
      color: $main-color;
    }

    &_current {
      border-bottom: 3px solid rgb(96, 203, 85);
      color: rgb(96, 203, 85);

      &:hover {
        color: rgb(96, 203, 85);
        cursor: default;
      }
    }
  }
}
