.offer-card {
  padding: 15px $padding;
  border-top: 1px solid $border-color;
  color: $text-color;

  @media (min-width: $desktop) {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: none;
    background-color: white;
    transition-duration: 0.3s;
    /* border-bottom: 1px solid $border-color;*/

    &:hover {
      z-index: 2;
      box-shadow: 0 2px 11.84px 4.16px rgba(0, 0, 0, 0.2);
      transition-duration: 0.3s;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--rating {
      padding-left: 250px;
    }
  }
}

.offer-card__number {
  box-sizing: content-box;
  display: flex;
  top: 10px;
  left: 10px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 2px;
  border: 2px solid $border-color;
  border-radius: 50%;
  background-color: white;
  color: $text-color;

  @media (min-width: $desktop) {
    .offer-card--rating & {
      position: absolute;
      top: 5px;
      left: 6px;
      order: -1;
      width: 20px;
      height: 20px;
      color: $text-color-a-0_8;
      font-weight: 700;
      cursor: default;
    }
  }
}

.offer-card__top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $desktop) {
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    margin-bottom: 10px;

    .offer-card--rating & {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: row;
      width: 250px;
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
  }
}

.offer-card__name {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-right: auto;
  /* margin-left: 10px;*/

  @media (min-width: $desktop) {
    width: 100%;
  }

  & a {
    width: 100%;
    height: 100%;
    color: transparent;
    font-size: 0.1px;
    /* color: $text-accent-color;*/
    /* font-size: 14px;*/
    font-weight: 700;

    @media (min-width: $desktop) {
      font-size: 12px;

      .offer-card--rating & {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: transparent;
        font-size: 14px;
      }
    }
  }
}

.offer-card__comp {
  font-size: 12px;
}

.offer-card__img {
  display: flex;
  flex-shrink: 1;
  width: 100%;
  min-height: 50px;
  height: 14.6vw;
  max-height: 70px;

  @media (min-width: $desktop) {
    order: -1;
    width: 150px;
    height: 50px;

    .offer-card--rating & {
      width: 100%;
      height: 100%;
      margin-bottom: 0;

      &::after {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 33%;
        height: 100%;
        background: linear-gradient(to left, white, transparent);
        content: '';
      }
    }
  }

  a {
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.offer-card__contain {
  display: flex;
  margin: 10px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid $border-color;

  @media (min-width: $desktop) {
    flex-grow: 1;
    margin-bottom: 30px;
    padding-right: 125px;
    padding-bottom: 0;
    border: none;

    .offer-card--rating & {
      margin: 0;
      padding-right: 145px;
    }
  }
}

.offer-card__prop {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $desktop) {
    flex-grow: 1;

    &:nth-child(1n) {
      text-align: center;
    }
  }
}

.offer-card__prop:not(:last-child) {
  margin-right: 10px;
}

.offer-card__prop-text {
  font-size: 14px;

  @media (min-width: $desktop) {
    .offer-card--rating & {
      font-size: 16px;
    }
  }
}

.offer-card__prop-name {
  margin-top: 0.7em;
  color: $text-color-a-0_8;
  font-size: 12px;

  @media (min-width: $desktop) {
    .offer-card--rating & {
      font-size: 14px;
    }
  }
}

.offer-card__about-wrapper {
  width: 100%;
}

.offer-card__about {
  margin-bottom: 15px;
  font-size: 12px;

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 14px;
  }
}

.offer-card__about-item {
  margin-bottom: 0.7em;
}

.offer-card__about-more {
  margin-top: 15px;
  margin-bottom: 15px;
  color: $text-accent-color;
  font-size: 14px;
  cursor: pointer;

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.offer-card__go {
  width: 100%;
  border-color: rgb(13, 209, 73);
  background-color: rgb(13, 209, 73);
  color: white;

  @media (min-width: $desktop) {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 110px;

    &:active {
      top: 25px;
    }

    .offer-card--rating & {
      top: 18px;
      width: 140px;

      &:active {
        top: 18px;
      }
    }
  }
}
