.offer-card {
  position: relative;
  padding: 15px $padding;
  border-top: 1px solid $border-color;
  color: $text-color;

  @media (min-width: $desktop) {
    grid-column-gap: 10px;
    display: grid;
    position: relative;
    grid-template-columns: min-content 1fr 150px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    border-top: none;
    background-color: white;
    transition-duration: 0.3s;
  }

  &:hover {
    @media (min-width: $desktop) {
      z-index: 2;
      box-shadow: 0 2px 11.84px 4.16px rgba(0, 0, 0, 0.2);
      transition-duration: 0.3s;
    }
  }

  &:not(:last-child) {
    @media (min-width: $desktop) {
      margin-bottom: 10px;
    }
  }

  &__number {
    box-sizing: content-box;
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 2px;
    border: 2px solid $border-color;
    border-radius: 50%;
    background-color: white;
    color: $text-color;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.75;

    @media (min-width: $desktop) {
      font-size: 14px;
    }
  }

  &__top {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (min-width: $desktop) {
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__comp {
    font-size: 12px;
  }

  &__img {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    height: 14.6vw;
    min-height: 50px;
    max-height: 70px;

    @media (min-width: $desktop) {
      order: -1;
      width: 150px;
      height: 50px;
    }
  }

  &__img-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  &__img-tag {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;

    @media (min-width: $desktop) {
      flex-grow: 1;
      justify-content: space-between;
      margin: 0;
      padding-bottom: 0;
      border: none;
    }
  }

  &__prop {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: max-content;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-left: 10px;

    @media (min-width: $desktop) {
      flex-grow: 1;
      margin: 0;
    }
  }

  &__prop-text {
    font-size: 14px;
  }

  &__prop-name {
    margin-top: 0.7em;
    color: $text-color-a-0_8;
    font-size: 12px;
  }

  &__about-wrapper {
    width: 100%;

    @media (min-width: $desktop) {
      grid-column: -1 / 1;
    }
  }

  &__about {
    max-height: 1000px;
    margin-bottom: 15px;
    font-size: 13px;
    opacity: 1;
    transition-duration: 0.3s;
    transition-property: opacity, max-height, margin, padding;
    transition-timing-function: ease;

    @media (min-width: $desktop) {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 10px;
      font-size: 14px;
    }

    &_closed {
      max-height: 1px;
      margin: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
      transition-duration: 0.3s;
      transition-property: opacity, max-height, margin, padding;
      transition-timing-function: ease;
    }
  }

  &__about-item {
    margin-bottom: 0.7em;
  }

  &__about-mobile-btn {
    margin-top: 15px;
  }

  &__about-more {
    width: 100%;
    height: 30px;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.75;

    &::after {
      display: block;
      width: 100%;
      height: 80%;
      background-image: url('/img/arrow.svg');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      transition: transform 0.3s;
    }

    &:focus {
      outline: 0;
      opacity: 1;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }

    &_upsidedown {
      &::after {
        transform: rotate(180deg);
        transition: transform 0.3s;
      }
    }
  }

  &__go {
    width: 100%;
    border-color: rgb(13, 209, 73);
    background-color: rgb(13, 209, 73);
    color: white;

    @media (min-width: $desktop) {
      grid-column: 3 / 4;
      grid-row: 1;
    }

    &_type {
      &_desktop {
        @media (max-width: $desktop) {
          display: none;
        }
      }

      &_mobile {
        @media (min-width: $desktop) {
          display: none;
        }
      }
    }
  }

  &_pb {
    &_none {
      padding-bottom: 0;
    }
  }
}
