.offers {
  &__caption {
    margin: 0;
    padding: 20px 20px;
    background: $main-color;
    color: white;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;

    @media (min-width: $desktop) {
      padding: 20px 30px;
      text-align: left;
    }
  }

  &__h1 {
    padding: $padding;
    text-align: left;

    @media (min-width: $desktop) {
      padding: 35px 30px;
      background-color: white;
      font-size: 26px;
    }
  }
}
