.page-content {
  &__wrap {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 30px;
  }

  &_zaymi {
    @media (min-width: $desktop) {
      background-color: $bg-color;
    }
  }

  &_mfo-page {
    @media (min-width: $desktop) {
      background-color: $bg-color;
    }

    .page-wrap {
      @media (min-width: $desktop) {
        background-color: white;
      }
    }
  }

  &_aside {
    .page-content__wrap {
      @media (min-width: $desktop) {
        display: flex;
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 $padding-ds;
        padding-top: 30px;
      }
    }

    .page-wrap {
      @media (min-width: $desktop) {
        margin-right: 20px;
      }
    }

    .aside-wrap {
      margin-top: 20px;

      @media (min-width: $desktop) {
        flex-shrink: 0;
        width: 320px;
        max-width: 320px;
        margin-top: 0;

        aside {
          padding: 30px 20px;
          background-color: #fff;
        }
      }
    }
  }

  &_news {
    @media (min-width: $desktop) {
      background-color: $bg-color;
    }
  }
}
