.page-content {
  &__wrap {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.page-content--zaymi {
  @media (min-width: $desktop) {
    background-color: $bg-color;
  }
}

.page-content--mfo-page {
  @media (min-width: $desktop) {
    background-color: $bg-color;
  }

  .page-content__wrap {
    @media (min-width: $desktop) {
      .page-wrap {
        background-color: white;
      }
    }
  }
}

.page-content--aside {
  .page-content__wrap {
    @media (min-width: $desktop) {
      display: flex;
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 $padding-ds;
      padding-top: 30px;

      .page-wrap {
        margin-right: 20px;
      }
    }
  }

  .aside-wrap {
    display: flex;
  }
}

.page-content--news {
  @media (min-width: $desktop) {
    background-color: $bg-color;
  }
}
