.slider {
  width: 100%;
  margin: 10px 0;

  &__lenght {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__depth {
    position: relative;
    width: 30%;
    height: 3px;
    background-color: rgb(13, 209, 73);
  }

  &__pin {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(13, 209, 73);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
  }
}
