.tariffs {
  --desktop-border: 1px solid #{$border-color};

  table {
    width: 100%;
    border-collapse: collapse;

    @media (min-width: $desktop) {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  thead {
    clip: rect(0 0 0 0);
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);

    @media (min-width: $desktop) {
      clip: unset;
      position: unset;
      bottom: unset;
      width: unset;
      height: unset;
      margin: unset;
      padding: unset;
      overflow: unset;
      border-bottom: var(--desktop-border);
      white-space: unset;
      clip-path: unset;
    }

    tr {
      @media (min-width: $desktop) {
        min-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 14px;
      }
    }

    td {
      @media (min-width: $desktop) {
        &:not(:last-child) {
          border-right: var(--desktop-border);
        }
      }
    }
  }

  tbody {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: $desktop) {
      gap: 0;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 0;
    }
  }

  tr {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    min-height: 190px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0;
    border-radius: 4px;
    box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.15);
    font-size: 16px;

    @media (min-width: $desktop) {
      gap: 0;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(1, 1fr);
      min-height: 106px;
      padding: 25px;
      padding-right: 10px;
      padding-left: 10px;
      border-radius: 0;
      box-shadow: none;

      &:not(:first-child) {
        border-top: var(--desktop-border);
      }
    }
  }

  td {
    display: flex;

    @media (min-width: $desktop) {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5) {
      grid-column: span 2;

      @media (min-width: $desktop) {
        grid-column: unset;
      }
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5) {
      justify-content: center;
    }
  }

  &__head-text {
    color: $text-color-a-0_5;
    font-size: 12px;

    &_mobile {
      width: 100%;
      height: fit-content;
      margin-bottom: 10px;

      @media (min-width: $desktop) {
        display: none;
      }
    }
  }

  &__summ {
    display: flex;
    flex-direction: column;
  }

  &__summ-value {
    display: flex;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;

    @media (min-width: $desktop) {
      justify-content: center;
    }

    &-sign {
      font-size: 16px;
      font-weight: normal;
      line-height: normal;
    }
  }

  &__name {
    color: $text-accent-color;
    font-size: 12px;

    @media (min-width: $desktop) {
      font-size: 13px;
    }
  }

  &__cell-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  &__value {
    margin-right: 3px;
  }

  &__button {
    width: 100%;

    .button {
      width: 100%;
    }
  }
}
