.zaem-borrower {
  padding: 0 $padding;

  @media (min-width: $desktop) {
    padding-right: $padding-ds;
    padding-bottom: 30px;
    padding-left: $padding-ds;
  }

  &__heading {
    margin-bottom: 16px;
  }
}
