.aside-menu {
  width: 300px;
  padding: 25px 30px 30px;
  background-color: white;
  color: $text-color;
}

.aside-menu__heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
}

.aside-menu__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  & a {
    @include link;
  }
}
