.best-card {
  flex-shrink: 0;
  width: 280px;
  height: 100%;
  margin: 0 20px;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 3px;
  background-color: white;

  @include media-desktop {
    height: auto;
    margin: 0 10px 10px;
  }
}

.best-card__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.best-card__description {
  font-size: 12px;
}

.best-card__content {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.best-card__sub {
  font-size: 12px;
  font-weight: normal;
  text-transform: lowercase;
}

.best-card__purchase {
  background-color: $main-color;
  color: white;
  font-weight: 700;

  &:active {
    color: white;
  }
}
