.best {
  padding: 30px $padding;
  overflow: hidden;
  background-color: rgb(235, 240, 243);

  @media (min-width: $desktop) {
    padding: 30px $padding-ds;
    overflow: unset;
  }
}

.best__container {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;
  }
}

.best__heading {
  @media (min-width: $desktop) {
    order: -1;
    width: fit-content;
    margin-right: auto;
    font-size: 30px;
  }
}

.best__list {
  display: flex;
  position: relative;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -$padding;
  overflow-x: scroll;
  overflow-y: hidden;

  &::after {
    display: block;
    padding-left: 1px;
    background-color: transparent;
    content: '';
  }

  @media (min-width: $desktop) {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
    overflow: unset;

    &::after {
      display: none;
    }
  }
}

.best__more {
  @media (min-width: $desktop) {
    order: -1;
    width: fit-content;
    border: none;
    background-color: transparent;
    color: $main-color;
    text-transform: capitalize;
    transition-duration: 0.3;

    &:hover {
      box-shadow: none;
      color: darken($color: $main-color, $amount: 5);
      transition-duration: 0.3;
    }

    &:active {
      top: 0;
      box-shadow: none;
      color: darken($color: $main-color, $amount: 30);
    }
  }
}
