.best-card {
  flex-shrink: 0;
  width: 280px;
  height: 100%;
  margin: 0 20px;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 3px;
  background-color: white;

  @media (min-width: $desktop) {
    height: auto;
    margin: 0 10px 10px;
  }
}

.best-card__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.best-card__text {
  display: none;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
}

.best-card__img-container {
  /* margin-left: 10px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.best-card__description-container {
  display: none;
}

.best-card__description {
  margin-bottom: 0;
  font-size: 12px;
}

.best-card__content {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.best-card__sub {
  font-size: 12px;
  font-weight: normal;
  text-transform: lowercase;
}

.best-card__purchase {
  background-color: $main-color;
  color: white;
  font-weight: 700;

  &:active {
    color: white;
  }
}
