.header {
  @include media-desktop {
    padding: 0 $padding-ds;
  }
}

.header__container {
  @include media-desktop {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 $padding;
  border-bottom: 1px solid #e7e7e7;

  @include media-desktop {
    height: auto;
    margin-right: auto;
    padding: 0;
    border: none;
  }
}

.header__logo {
  display: flex;
}

.header__burger {
  width: 20px;
  height: 15px;
  border: none;
  background: linear-gradient(
    to bottom,
    black 1px,
    transparent 1px,
    transparent 7px,
    black 7px,
    black 8px,
    transparent 8px,
    transparent 14px,
    black 14px
  );

  @include media-desktop {
    display: none;
  }
}
