.help {
  background-color: $main-color;
  color: white;
  font-size: 14px;
  padding: $padding;
  margin-bottom: 20px;

  @include media-desktop {
    padding: 0 $padding-ds;
  }
}

.help__container {
  @include media-desktop {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-around;
  }
}

.help__img-container {
  width: 100px;
  height: 100px;
  background-color: $border-color;
  flex-shrink: 0;
  margin: 0 auto 20px;

  @include media-desktop {
    margin: 0;
    order: 1;
    width: 400px;
    height: 360px;
  }
}

.help__title {
  font-weight: 400;

  @include media-desktop {
    font-weight: 400;
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    width: fit-content;
  }
}

.help__text {
  margin: 0;
  // padding: 0 30px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  @include media-desktop {
    margin-right: 20px;
    text-align: left;
    font-size: 18px;
    max-width: 480px;
  }
}
