.list {
  color: $text-color;
}

.list__item {
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  line-height: 1.4;
  font-size: 12px;

  &::before {
    content: '';
    display: inline-block;
    background-color: $main-color;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 8px;
    transform: translateY(-50%);
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
