.main-navigation {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: $padding;
  background-color: white;

  &--closed {
    display: none;
  }

  .no-js & {
    display: block;
    position: relative;
    height: auto;
  }

  @include media-desktop {
    &--closed {
      display: unset;
    }

    display: flex;
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
  }
}

.main-navigation__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @include media-desktop {
    display: none;
  }
}

.main-navigation__list {
  @include media-desktop {
    display: flex;
  }
}

.main-navigation__item {
  padding-top: 11px;
  padding-bottom: 14px;
  border-bottom: 1px solid #cfcece;
  line-height: 35px;

  @include media-desktop {
    border: none;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.main-navigation__item a {
  @include media-desktop {
    font-size: 14px;
    font-weight: 400;
    transition-duration: 0.3s;

    &:hover {
      color: $main-color;
      transition-duration: 0.3s;
    }
  }
}

.main-navigation__close {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;
  border-radius: 50%;
  background: none;

  .no-js & {
    display: none;
  }

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 70%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
  }
}
