.main-navigation {
  padding: $padding;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
}

.main-navigation__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.main-navigation__item {
  padding-top: 11px;
  padding-bottom: 14px;
  line-height: 35px;
  border-bottom: 1px solid #cfcece;
}

.main-navigation__close {
  background: none;
  border: 1px solid $border-color;
  border-radius: 50%;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1px;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1px;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
