.news-item {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $desktop) {
    width: calc(50% - 10px);

    &:nth-last-child(2), &:nth-last-child(3) {
      border-bottom: none;
    }
  }
}

.news-item__link {
  display: flex;
  align-items: center;

  @media (min-width: $desktop) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.news-item__preview {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 62px;
  margin-right: 10px;
  overflow: hidden;

  & img {
    width: auto;
    height: 100%;
  }

  .news-item--first & {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop) {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 56.25%;

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100%;
      transform: translate(-50%, -50%);
      transition-duration: 0.3s;
    }

    &:hover img {
      height: 120%;
      transition-duration: 0.3s;
    }
  }
}

.news-item__heading {
  margin: 0;
  margin-bottom: 10px;
  color: $text-color;
  font-weight: 700;
}

.news-item__heading-span {
  display: none;
  color: $text-color-a-0_5;

  @media (min-width: $desktop) {
    display: block;
  }
}

.news-item--first {
  & .news-item__link {
    display: block;
  }

  & .news-item__heading-span {
    display: block;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.news-item--more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: -1px;
  margin-left: -$padding;
  padding: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  transition-duration: 0.3s;

  &:hover, &:active, &:focus {
    background-color: $main-color;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 1px;
    left: -20px;
    width: calc(100% + 40px);
    margin: 0;
    border-top: 1px solid $border-color;
  }
}
