.news-item {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;
}

.news-item__link {
  display: flex;
  align-items: center;
}

.news-item__preview {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 62px;
  margin-right: 10px;
  overflow: hidden;

  & img {
    width: auto;
    height: 100%;
  }
}

.news-item__heading {
  margin: 0;
  margin-bottom: 10px;
  color: $text-color;
  font-weight: 700;
}

.news-item__heading-span {
  display: none;
  color: $text-color-a-0_5;
}

.news-item--first {
  & .news-item__link {
    display: block;
  }
  & .news-item__preview  {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  & .news-item__heading-span {
    display: block;
  }
}

.news-item--more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: -1px;
  margin-left: -$padding;
  padding: 0;;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  transition-duration: 0.3s;

  &:active, &:focus {
    background-color: $main-color;
    color: white;
    transition-duration: 0.3s;
  }
}
