.news-page {
  margin-bottom: -20px;
  padding: 0 $padding;
}

.news-page__text-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.news-page__text {
  font-size: 12px;
  line-height: 1.4;
}

.news-page__text-more {
  padding: 0;
  border: none;
  background: none;
  color: $main-color;
}

.news-page__text-wrapper--closed {
  & .news-page__text {
    position: relative;
    height: 50px;
    overflow: hidden;

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, white, transparent);
      content: '';
    }
  }
}
