.news-filter {
  position: relative;
  margin-bottom: 20px;
  overflow-x: scroll;
  border-bottom: 1px solid $border-color;

  @include media-desktop {
    overflow: unset;
  }
}

.news-filter__list {
  display: flex;
  width: auto;
}

.news-filter__item {
  flex-shrink: 0;
  margin: 0 10px 2px;

  @include media-desktop {
    margin: 0 10px;
  }
}

.news-filter__link {
  word-wrap: none;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $main-color;
  }

  &--current {
    &:hover {
      color: rgb(96, 203, 85);
      cursor: default;
    }

    border-bottom: 3px solid rgb(96, 203, 85);
    color: rgb(96, 203, 85);
  }

  @include media-desktop {
    font-size: 16px;
  }
}
