.offer-card {
  padding: 15px $padding;
  border-top: 1px solid $border-color;
  color: $text-color;
}

.offer-card__number {
  box-sizing: content-box;
  display: flex;
  top: 10px;
  left: 10px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 2px;
  border: 2px solid $border-color;
  border-radius: 50%;
  color: $text-color;
}

.offer-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer-card__name {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: auto;
  margin-left: 10px;
}

.offer-card__name a {
  color: $text-accent-color;
  font-size: 14px;
  font-weight: 700;
}

.offer-card__comp {
  font-size: 12px;
}

.offer-card__img {
  flex-shrink: 0;
}

.offer-card__contain {
  display: flex;
  margin: 10px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid $border-color;
}

.offer-card__prop {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.offer-card__prop:not(:last-child) {
  margin-right: 10px;
}

.offer-card__prop-text {
  font-size: 14px;
}

.offer-card__prop-name {
  margin-top: 0.7em;
  color: $text-color-a-0_8;
  font-size: 12px;
}

.offer-card__about {
  margin-bottom: 15px;
  font-size: 12px;
}

.offer-card__about-item {
  margin-bottom: 0.7em;
}

.offer-card__about-more {
  margin-top: 15px;
  margin-bottom: 15px;
  color: $text-accent-color;
  font-size: 14px;
  cursor: pointer;
}

.offer-card__go {
  width: 100%;
  border-color: rgb(13, 209, 73);
  background-color: rgb(13, 209, 73);
  color: white;
}
