// .page-mfo {
//   & .offer-card__contain {
//     justify-content: space-around;
//     /* text-align: center;*/
//   }
// }

.page-mfo__more {
  width: 100%;
  padding: 10px 0;
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background: none;
  transition-duration: 0.3s;
  background-color: white;

  &:hover {
    background-color: $main-color;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
    border-color: $main-color;
  }

  &:focus, &:active {
    background-color: darken($color: $main-color, $amount: 5);
    color: white;
    transition-duration: 0.3s;
    border-color: darken($color: $main-color, $amount: 5);
  }
}
