.page-content {
  @include media-desktop {
    padding-bottom: 30px;
  }
}

.page-content--zaymi {
  @include media-desktop {
    background-color: $bg-color;
  }

  .aside-wrap {
    display: none;
  }

  .page-content__wrap {
    @include media-desktop {
      display: flex;
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 $padding-ds;
      padding-top: 30px;

      .page-wrap {
        margin-right: 20px;
      }

      .aside-wrap {
        display: flex;
      }
    }
  }
}

.page-content--news {
  @include media-desktop {
    background-color: $bg-color;
  }

  .aside-wrap {
    display: none;
  }

  .page-content__wrap {
    @include media-desktop {
      display: flex;
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 $padding-ds;
      padding-top: 30px;

      .page-wrap {
        margin-right: 20px;
      }

      .aside-wrap {
        display: flex;
      }
    }
  }
}
