.page-mfo {
  & .offer-card__contain {
    justify-content: space-around;
    // text-align: center;
  }
}

.page-mfo__more {
  border: 0;
  background: none;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  transition-duration: 0.3s;

  &:focus, &:active {
    background-color: $main-color;
    color: white;
    transition-duration: 0.3s;
  }
}
