.partners {
  padding: 30px $padding;
  overflow: hidden;
  background-color: $bg-color;
}

.partners__heading {
  margin-bottom: 20px;
}

.partners__list-wrap {
  width: 100vw;
  margin-bottom: 20px;
  margin-left: -$padding;
  overflow: hidden;
  overflow-x: scroll;
}

.partners__list {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 760px;
  padding: 0 20px;
}

.partners__item {
  display: flex;
  flex-shrink: 0;
  width: 120px;
  height: 80px;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid $border-color;
  border-radius: 3px;
}
