.social {
  display: flex;
  width: 100%;

  @include media-desktop {
    width: fit-content;
    align-items: center;
  }
}

.social__heading {
  display: none;

  @include media-desktop {
    display: block;
    margin: 0;
    margin-right: 20px;
    font-size: 14px;
    min-width: 260px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.social__item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: 50%;

  @include media-desktop {
    width: 36px;
    height: 36px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.social__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
