.why {
  margin-top: 30px;
  padding: 20px $padding;
  overflow: hidden;
  background-color: $bg-color;

  @include media-desktop {
    padding: 20px $padding-ds;
  }
}

.why__container {
  @include media-desktop {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.why__heading {
  margin-bottom: 20px;

  @include media-desktop {
    font-size: 30px;
    text-align: center;
  }
}

.why__list {
  display: flex;
  width: 100vw;
  margin-left: -$padding;
  overflow-x: scroll;

  &::after {
    padding-left: 20px;
    content: '';
  }

  @include media-desktop {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    overflow: unset;

    &::after {
      display: none;
    }
  }
}

.why__item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  margin-left: 20px;
  padding: 100px 30px 10px;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: #fff;

  @include media-desktop {
    margin-bottom: 20px;
  }
}

.why__title {
  margin-bottom: 20px;

  @include media-desktop {
    font-size: 18px;
  }
}

.why__text {
  max-width: 220px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  @include media-desktop {
    font-size: 14px;
  }
}
