.zaem-card {
  padding: 15px $padding;
  border-top: 1px solid $border-color;
  color: $text-color;
}

.zaem-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zaem-card__name {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.zaem-card__name a {
  color: $text-accent-color;
  font-size: 14px;
  font-weight: 700;
}

.zaem-card__comp {
  font-size: 12px;
}

.zaem-card__img {
  display: flex;
  flex-shrink: 0;
}

.zaem-card__contain {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid $border-color;
}

.zaem-card__prop {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.zaem-card__prop:not(:last-child) {
  margin-right: 10px;
}

.zaem-card__prop-text {
  font-size: 14px;
  text-align: center;
}

.zaem-card__prop-name {
  margin-top: 0.7em;
  color: $text-color-a-0_8;
  font-size: 12px;
  text-align: center;
}

.zaem-card__about {
  margin-bottom: 15px;
  font-size: 12px;
}

.zaem-card__about-item {
  margin-bottom: 0.7em;
}

.zaem-card__about-more {
  margin-top: 15px;
  margin-bottom: 15px;
  color: $text-accent-color;
  font-size: 14px;
  cursor: pointer;
}

.zaem-card__go {
  width: 100%;
  border-color: rgb(13, 209, 73);
  background-color: rgb(13, 209, 73);
  color: white;
}
