.zaem-borrower {
  padding: 0 $padding;

  @include media-desktop {
    padding-right: $padding-ds;
    padding-bottom: 30px;
    padding-left: $padding-ds;
  }
}

.zaem-borrower__heading {
  margin-bottom: 16px;
}
