.zaem-card {
  padding: 15px $padding;
  border-top: 1px solid $border-color;
  color: $text-color;

  @include media-desktop {
    display: flex;
    flex-wrap: wrap;
    padding: 15px $padding-ds;
    padding-top: 25px;
    border-top: none;
  }
}

.zaem-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-desktop {
    flex-direction: column-reverse;
  }
}

.zaem-card__name {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.zaem-card__name a {
  color: $text-accent-color;
  font-size: 14px;
  font-weight: 700;
}

.zaem-card__comp {
  font-size: 12px;
}

.zaem-card__img {
  display: flex;
  flex-shrink: 0;

  @include media-desktop {
    width: 250px;
    height: 80px;
    margin-bottom: 15px;
  }
}

.zaem-card__contain {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid $border-color;

  @include media-desktop {
    flex-grow: 1;
    margin: 0;
    padding: 10px 0;
    padding-left: 15px;
    border-bottom: none;
  }
}

.zaem-card__prop {
  display: flex;
  flex-direction: column;
  margin: 0;

  @include media-desktop {
    align-items: center;
    padding-top: 10px;
  }
}

.zaem-card__prop:not(:last-child) {
  margin-right: 5px;
}

.zaem-card__prop-text {
  font-size: 14px;
  text-align: center;

  @include media-desktop {
    font-size: 16px;
  }
}

.zaem-card__prop-name {
  margin-top: 0.7em;
  color: $text-color-a-0_8;
  font-size: 12px;
  text-align: center;

  @include media-desktop {
    font-size: 14px;
  }
}

.zaem-card__about {
  margin-bottom: 15px;
  font-size: 12px;
}

.zaem-card__about-item {
  margin-bottom: 0.7em;
}

.zaem-card__about-more {
  margin-top: 15px;
  margin-bottom: 15px;
  color: $text-accent-color;
  font-size: 14px;
  cursor: pointer;
}

.zaem-card__go {
  width: 100%;
  border-color: rgb(13, 209, 73);
  background-color: rgb(13, 209, 73);
  color: white;

  @include media-desktop {
    width: calc(100% + 60px);
    margin-right: -30px;
    margin-left: -30px;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-color: $border-color;
    background-color: white;
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    transition-duration: 0.3s;

    &:hover, &:focus {
      border-color: rgb(13, 209, 73);
      background-color: rgb(13, 209, 73);
      color: white;
      transition-duration: 0.3s;
    }

    &:active {
      top: 0;
      border-color: darken($color: rgb(13, 209, 73), $amount: 5);
      background-color: darken($color: rgb(13, 209, 73), $amount: 5);
      transition-duration: 0.3s;
    }
  }
}
