<!DOCTYPE html>
<html class="no-js" lang="ru-RU">

{{#block "header"}}
{{!-- header --}}
{{/block}}

<body class="page">

  {{#block "content"}}
  {{!-- content --}}
  {{/block}}

  {{#block "footer"}}
  {{!-- footer --}}
  {{/block}}

</body>

</html>
