{{#extend "common-page"}}

{{#content "header"}}
{{> head title=name}}
{{/content}}

{{#content "content"}}
{{> page-header}}
<main class="page-content page-content--mfo-page">
  <div class="page-content__wrap">
    <div class="page-wrap">
      <section class="zaem">
        <h2 class="hidden">Ezaem</h2>
        <div class="zaem-card">
          <div class="zaem-card__top">
            <p class="zaem-card__name">
              <a href="https://trkleads.ru/click/30c7c441bb47a285dc6086de2df46861">ООО МФК «Е заем»</a>
              <!-- <span class="zaem-card__comp">Смсфинанс</span> -->
            </p>
            <div class="zaem-card__img">
              <img src="/img/partners/ezaem.png" alt="alt" />
            </div>
          </div>
          <div class="zaem-card__contain">
            <p class="zaem-card__prop">
              <span class="zaem-card__prop-text">1,5%</span>
              <span class="zaem-card__prop-name">Ставка в день</span>
            </p>
            <p class="zaem-card__prop">
              <span class="zaem-card__prop-text"><span class="calc-amount-value">3 000</span> ₽</span>
              <span class="zaem-card__prop-name">Сумма</span>
            </p>
            <p class="zaem-card__prop">
              <span class="zaem-card__prop-text"><span class="calc-days-value">10</span> дней</span>
              <span class="zaem-card__prop-name">Срок</span>
            </p>
            <p class="zaem-card__prop">
              <span class="zaem-card__prop-text"><span class="calc-overcharge-value">10</span> ₽</span>
              <span class="zaem-card__prop-name">Переплата</span>
            </p>
          </div>
          <div class="zaem__calc calc">
            <h3 class="calc__heading heading-4">Рассчитать заем</h3>
            <div class="calc__amount">
              <label class="calc__label" for="calc-amount">Введите сумму займа, руб.</label>
              <input class="calc__input" id="calc-amount" name="amount" type="number" value="3000" maxlength="10"
                minlength="4" min="1000" max="1000000" />
              <div class="calc__slider slider">
                <div class="slider__conteiner">
                  <div class="slider__lenght">
                    <div class="slider__depth"></div>
                    <div class="slider__pin"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="calc__days">
              <label class="calc__label" for="calc-days">Введите кол-во дней</label>
              <input class="calc__input" id="calc-days" name="days" type="number" value="10" maxlength="3" minlength="1"
                min="1" max="365" />
              <div class="calc__slider slider">
                <div class="slider__conteiner">
                  <div class="slider__lenght">
                    <div class="slider__depth"></div>
                    <div class="slider__pin"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="zaem-card__go button" href="https://trkleads.ru/click/30c7c441bb47a285dc6086de2df46861">Оформить</a>
        </div>
        <table class="zaem__table">
          <tr>
            <td>Веб-сайт</td>
            <td><a href="https://trkleads.ru/click/30c7c441bb47a285dc6086de2df46861">www.ezaem.ru</a></td>
          </tr>
          <tr>
            <td>Адрес компании</td>
            <td><a
                href="https://yandex.ru/maps/213/moscow/?l=map&ll=37.642626%2C55.724824&mode=search&sll=37.538286%2C55.748326&source=wizgeo&sspn=0.010870%2C0.003510&text=115114%2C%20%D0%B3.%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20%D1%83%D0%BB.%20%D0%9B%D0%B5%D1%82%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%2C%20%D0%B4.%2010%2C%20%D1%81%D1%82%D1%80.%204%2C%20%D1%8D%D1%82.%202%2C%20%D0%BF%D0%BE%D0%BC.%20I%20%D0%A7%2C%20%D0%BA%D0%BE%D0%BC%D0%BD.%2015&utm_medium=maps-desktop&utm_source=serp&z=16">115114,
                г. Москва, ул. Летниковская, д. 10, стр. 4, эт. 2, пом. I Ч, комн. 15
              </a></td>
          </tr>
          <tr>
            <td>Номер телефонов горячей линии</td>
            <td>8 (800) 600 55 00</td>
          </tr>
          <tr>
            <td>Электронная почта</td>
            <td>info@ezaem.ru</td>
          </tr>
          <tr>
            <td>Часы работы</td>
            <td>24 часа, без выходных</td>
          </tr>
          <tr>
            <td>Номер свидетельства регистрации
            </td>
            <td>651303045003161</td>
          </tr>
          <tr>
            <td>ОГРН</td>
            <td>1127746672130</td>
          </tr>
          <tr>
            <td>ИНН</td>
            <td>7706780186</td>
          </tr>
          <tr>
            <td>Дата внесения в реестр</td>
            <td>14.05.2013</td>
          </tr>
        </table>
      </section>
      <section class="zaem-about">
        <h2 class="zaem-about__heading heading-3">О предложении</h2>
        <div class="zaem-about__content">
          <p class="zaem-about__text">
            ООО МФК «Е заем» одна из самых надежных и популярных компаний на
            микрофинансовом рынке. Организация работает с 2013 года и предлагает
            кредитование для физических лиц на привлекательных условиях. По
            многим независимым рейтингам именно микрофинансовая компания Ezaem
            является Первой среди самых доступных МФО для населения. Именно на
            Е-заем приходится более 20% всех выдаваемых онлайн-займов. Филиалы
            организации работают в восьми странах: Дания, Чехия, Польша, Латвия,
            Грузия, Россия, Мексика и Испания.
          </p>
          <p class="zaem-about__text">
            Главное отличие данной компании от конкурентов – предоставление
            первого займа под 0% годовых для всех.
          </p>
          <p class="zaem-about__text">
            Возьмите сумму, которая не превышает 15 000 рублей, погасите заем в
            установленный срок, вернув ровно столько же денег, сколько брали
            изначально, без выплаты процентов за пользование денежными
            средствами.
          </p>
          <div>
            <h2 class="zaem-about__heading heading-3">
              Плюсы Ezaem.ru
            </h2>
            <ul class="list">
              <li class="list__item">Заем новым клиентам предоставлется под 0%.</li>
              <li class="list__item">
                Каждое повторное обращение будет увеличивать скидку на 5%.
              </li>
              <li class="list__item">Место нахождения не имеет значения. Обращаясь нужен только интернет и паспорт.
              </li>
              <li class="list__item">Достаточно 15 минут свободного времени, от оформления до получения денег.</li>
              <li class="list__item">Есть возможноть продлить срок выплаты, если не успеваете вовремя погасить.</li>
            </ul>
          </div>
        </div>
        <button class="zaem-about__more">Показать больше</button>
      </section>
      <section class="zaem-condition">
        <h2 class="zaem-condition__heading heading-3">Условия</h2>
        <table class="zaem-condition__table">
          <tbody>
            <tr class="zaem-condition__item zaem-condition__item--closed">
              <td>
                Выдача денег
              </td>
              <td>
                до 20 минут
              </td>
            </tr>
            <tr class="zaem-condition__item">
              <td>Варианты погашения</td>
              <td>
                Договор займа можно продлить на период от 7 до 30 дней, оплатив
                только проценты за фактическое количество дней пользования
                займом на момент заключения дополнительного соглашения о
                пролонгации договора микрозайма.
              </td>
            </tr>
            <tr class="zaem-condition__item">
              <td>Оплата</td>
              <td>
                В случае просрочки платежа более 16-ти дней взыскиваются пени в
                размере: в период ненадлежащего исполнения обязательств по
                договору потребительского микрозайма одновременно с начислением
                процентов неустойка составляет до 20% годовых от непогашенной
                суммы займа; со дня прекращения начисления процентов в период
                ненадлежащего исполнения обязательств по договору
                потребительского микрозайма неустойка составляет до 0,01% в день
                от непогашенной суммы займа.
              </td>
            </tr>
            <tr class="zaem-condition__item">
              <td>Время рассмотрения</td>
              <td>онлайн в офисе</td>
            </tr>
            <tr class="zaem-condition__item">
              <td>Продление</td>
              <td>банковская карта</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="zaem-borrower">
        <h2 class="zaem-borrower__heading heading-3">Требования к заемщику</h2>
        <ul class="list">
          <li class="list__item">Для лиц старше 20 лет</li>
          <li class="list__item">
            Для граждан с постоянной регистрацией на территории РФ
          </li>
          <li class="list__item">Наличие паспорта</li>
        </ul>
      </section>
    </div>
    {{> aside}}
  </div>
</main>
{{/content}}

{{#content "footer"}}
{{> footer}}
{{/content}}

{{/extend}}
