// global padding
$padding: 20px;
$padding-ds: 30px;

// media
$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// color
$main-color: rgb(1, 175, 255);

//цвет текста
$text-color: rgba(60, 62, 68, 1);
$text-color-a-0_8: rgba(60, 62, 68, 0.8);
$text-color-a-0_5: rgba(60, 62, 68, 0.5);
$text-color-a-0_3: rgba(60, 62, 68, 0.3);
$text-accent-color: rgb(1, 175, 255);

//цвет границы
$border-color: #dddede;

// цвет фона
$bg-color: rgb(235, 240, 243);

// Размеры'
$bp-mobile: 320px;
$desktop: 1024px;
$max-width: 1300px;
