// global padding
$padding: 20px;

// media
$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// color
$main-color: rgb(1, 175, 255);

//цвет текста
$text-color: #3c3e44;
$text-accent-color: rgb(1, 175, 255);

//цвет границы
$border-color: #dddede;

// цвет фона
$bg-color: rgb(235, 240, 243);
